<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebRTC</title>
    <script src="jquery.js"></script>
    <script src="index.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="styles.css">
    <script>
       
        $(document).ready(function(){
            document.querySelector('#localvideo').addEventListener('click', e => init(e));
           
        });

        
    </script>
    
</head>
<body>
    <div id="wrapper">
        <div id="region-local-video">
            Local Video: </br>
            <video id="localvideo" style="height: 400px; width: 400px;" autoplay playsinline controls="false"></video>
        </div>
        <div id="region-remote-video">
            Remote Video: </br>
            <video id="remotevideo" style="height: 400px; width: 400px;" autoplay playsinline controls="false"></video>
        </div>
    </div>
</body>
</html>